* {
    box-sizing: border-box;
    margin: inherit;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: ;
    background-color: #fffceb;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fffceb;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fffceb;
}

@media (max-width: 600px) {
    .box {
        padding: 10px;
    }
}
